html, body {
    margin: 0;
    padding: 0;
  }
  
  #field {
    background: burlywood;
    width: 800px;
    height: 500px;
    float: left;
  }
  
  /* heroes and the ball (dragables) */
  
  .hero {
    width: 100px;
    height: 100px;
    padding: 5px;
    float: left;
  }
  
  #hero1 {
    background-position: 0 0;
    background: red;
    color: whitesmoke;
  }
  
  #hero2 {
    background-position: 0 -128px;
    background: green;
    color: whitesmoke;
  }
  
  #hero3 {
    background-position: -120px 0;
    background: blue;
    color: whitesmoke;
  }
  
  #hero4 {
    background-position: -125px -128px;
    background: black;
    color: whitesmoke;
  }
  
  #hero5 {
    background-position: -248px -128px;
    background: brown;
    color: whitesmoke;
  }
  
  #hero6 {
    background-position: -244px 0;
    background: purple;
    color: whitesmoke;
  }
  
  .draggable {
    cursor: pointer;
  }